*{
    transition: 0.3s;
}
body{
    background-color: rgb(164, 199, 164);
    height:200vh;
    width:100vw;
}
.logo img{
    /* font-size: 100px; */
    height: 400px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    background-color: #8db9be;
    width: 280px;
    /* align-self: center; */
    margin: auto;
    border-radius: 10px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    padding: 20px 20px;
    list-style: none;
}
li a{
    text-decoration: none;
    color: antiquewhite;
    font-weight: bold;
    cursor:pointer;
    font-size: 20px;
}
li a:hover{
    font-size: 30px;
}
.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input[type = text]{
    margin: 20px 0;
    padding: 7px 0;
    width: 200px;
    outline:none;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}
input{
    padding: 10px 5px;
}
::placeholder{
    text-align: center;
}
table{
    border:2px solid black;

}
.content{
    display: flex;
    align-items: center;
    justify-content: center;

}
span{
    padding: 10px 30px;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.contentt{
    display: flex;
    justify-content: center;
    align-items: center;
}
table a{
    text-decoration: none;
    border:2px solid black;
    background-color: #f3f3f3;
    color: black;

}
table a:hover{
    color: #f3f3f3;
    background-color: black;
}


